In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
range(5)

range(0, 5)

In [9]:
list(range(5))

[0, 1, 2, 3, 4]

In [10]:
for shivam in "shivam":
    print(shivam)

s
h
i
v
a
m

In [12]:
for i in range(0,5,2):
    print(i)

0
2
4

In [13]:
python="we are learning data science on this channel"

In [14]:
for i in python:
    print(i)

w
e

a
r
e

l
e
a
r
n
i
n
g

d
a
t
a

s
c
i
e
n
c
e

o
n

t
h
i
s

c
h
a
n
n
e
l

In [1]:
i=0
while i <5:
    print(i)
    i=i+1

0
1
2
3
4

In [2]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [3]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [22]:
total=0
for i in range(1,11):
    total=total+1
    print("total sum: ",total)

total sum:  1
total sum:  2
total sum:  3
total sum:  4
total sum:  5
total sum:  6
total sum:  7
total sum:  8
total sum:  9
total sum:  10

In [1]:
#write a program that prints a even number between 1 to 100 using both loops . while and for loop