In [2]:
print("Hello Data science")

Hello Data science

In [3]:
x=5

In [4]:
print(x)

5

In [5]:
name="Shivam"

In [6]:
name

'Shivam'

In [7]:
name1="shivam"

In [8]:
Name="Shivam"

In [9]:
name="ShivaM"

In [10]:
pi=3.5

In [11]:
#int
#float
#string
#boolean
#nonetype

In [12]:
a=5
b=3.4
c="shivam"
d=True
e=None

In [13]:
type(a)

int

In [14]:
type(b)

float

In [15]:
print(type(c))

<class 'str'>

In [16]:
type(d)

bool

In [17]:
type(e)

NoneType

In [18]:
x=5

In [21]:
x=str(x)

In [22]:
type(x)

str

In [23]:
input()

'shivam'

In [24]:
name=input()

In [25]:
name

'shiv'

In [26]:
a=input()

In [27]:
a

'546'

In [28]:
type(a)

str

In [33]:
b=int(input("enter a number"))

In [34]:
b

67

In [35]:
type(b)

int

In [36]:
float(input())

34.0

In [43]:
34>35

False

#task 
take a input from user (name)
user age
Hello "Username" you are "age" years old

In [44]:
name=input("enter your name")
age=input("enter your age")
print("Hello",name,"You are",age,"Years Old")

Hello Shivam You are 21 Years Old