In [1]:
import sqlite3

In [4]:
db=sqlite3.connect("test.db")

In [9]:
cursor=db.cursor()

In [10]:
cursor.execute('create table data_science(name text, seriesno int, marks real)')

In [11]:
cursor.execute('insert into data_science values("shviam",123541,234.12)')

In [33]:
cursor.execute('insert into data_science values("shviam",123541,234.12)')
cursor.execute('insert into data_science values("shviam",123541,234.12)')
cursor.execute('insert into data_science values("shviam",123541,234.12)')
cursor.execute('insert into data_science values("shivam",123541,234.12)')
cursor.execute('insert into data_science values("shivam",123541,234.12)')
cursor.execute('insert into data_science values("shivam",123541,234.12)')
cursor.execute('insert into data_science values("shivam",123541,234.12)')
cursor.execute('insert into data_science values("shivam",123541,234.12)')

In [15]:
cursor.execute('select * from data_science')

In [16]:
cursor.fetchall()

[('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12)]

In [17]:
data=cursor.execute('select * from data_science')

In [18]:
for i in data:
    print(i)

('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)

In [19]:
db.commit()

In [20]:
db.close()

In [24]:
db=sqlite3.connect("test.db")

In [25]:
cursor=db.cursor()

In [26]:
cursor.execute("select * from data_science where marks >100")

In [27]:
cursor.fetchall()

[('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12),
 ('shviam', 123541, 234.12)]

In [34]:
data=cursor.execute("select * from data_science where name='shivam'")

In [35]:
for i in data:
    print(i)

('shivam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)

In [36]:
cursor.execute('select name,marks from data_science')

In [37]:
cursor.fetchall()

[('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shviam', 234.12),
 ('shivam', 234.12),
 ('shivam', 234.12),
 ('shivam', 234.12),
 ('shivam', 234.12),
 ('shivam', 234.12)]

In [39]:
data=cursor.execute('select * from data_science order by marks')

In [40]:
for i in data:
    print(i)

('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shviam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)
('shivam', 123541, 234.12)

In [41]:
db.close()

In [43]:
db=sqlite3.connect("person.db")

In [44]:
cursor=db.cursor()

In [45]:
cursor.execute('create table person_table(name text, email text, age int , salary real)')

In [46]:
cursor.execute('insert into person_table values("shivam","shivam@gmail.com",21,2343412)')
cursor.execute('insert into person_table values("raj","raj@gmail.com",22,2343413)')
cursor.execute('insert into person_table values("priya","priya@gmail.com",20,2343414)')
cursor.execute('insert into person_table values("amit","amit@gmail.com",23,2343415)')
cursor.execute('insert into person_table values("anita","anita@gmail.com",24,2343416)')
cursor.execute('insert into person_table values("karan","karan@gmail.com",25,2343417)')
cursor.execute('insert into person_table values("deepa","deepa@gmail.com",26,2343418)')
cursor.execute('insert into person_table values("suman","suman@gmail.com",27,2343419)')
cursor.execute('insert into person_table values("vijay","vijay@gmail.com",28,2343420)')
cursor.execute('insert into person_table values("meena","meena@gmail.com",29,2343421)')
cursor.execute('insert into person_table values("rahul","rahul@gmail.com",30,2343422)')
cursor.execute('insert into person_table values("nisha","nisha@gmail.com",31,2343423)')
cursor.execute('insert into person_table values("sachin","sachin@gmail.com",32,2343424)')
cursor.execute('insert into person_table values("neha","neha@gmail.com",33,2343425)')
cursor.execute('insert into person_table values("arjun","arjun@gmail.com",34,2343426)')
cursor.execute('insert into person_table values("pooja","pooja@gmail.com",35,2343427)')
cursor.execute('insert into person_table values("manoj","manoj@gmail.com",36,2343428)')
cursor.execute('insert into person_table values("rani","rani@gmail.com",37,2343429)')
cursor.execute('insert into person_table values("suresh","suresh@gmail.com",38,2343430)')
cursor.execute('insert into person_table values("kiran","kiran@gmail.com",39,2343431)')
cursor.execute('insert into person_table values("rekha","rekha@gmail.com",40,2343432)')
cursor.execute('insert into person_table values("naveen","naveen@gmail.com",41,2343433)')
cursor.execute('insert into person_table values("jyoti","jyoti@gmail.com",42,2343434)')
cursor.execute('insert into person_table values("alok","alok@gmail.com",43,2343435)')
cursor.execute('insert into person_table values("seema","seema@gmail.com",44,2343436)')
cursor.execute('insert into person_table values("deepika","deepika@gmail.com",6,762367)')

In [85]:
cursor.execute('select * from person_table')

In [86]:
cursor.fetchall()

[('shivam', 'shivam@gmail.com', 21, 2343412.0),
 ('raj', 'raj@gmail.com', 22, 2343413.0),
 ('priya', 'priya@gmail.com', 20, 2343414.0),
 ('amit', 'amit@gmail.com', 23, 2343415.0),
 ('anita', 'anita@gmail.com', 24, 2343416.0),
 ('karan', 'karan@gmail.com', 25, 2343417.0),
 ('deepa', 'deepa@gmail.com', 26, 2343418.0),
 ('suman', 'suman@gmail.com', 27, 2343419.0),
 ('vijay', 'vijay@gmail.com', 28, 2343420.0),
 ('meena', 'meena@gmail.com', 29, 2343421.0),
 ('rahul', 'rahul@gmail.com', 30, 2343422.0),
 ('nisha', 'nisha@gmail.com', 31, 2343423.0),
 ('sachin', 'sachin@gmail.com', 32, 2343424.0),
 ('neha', 'neha@gmail.com', 33, 2343425.0),
 ('arjun', 'arjun@gmail.com', 34, 2343426.0),
 ('pooja', 'pooja@gmail.com', 35, 2343427.0),
 ('manoj', 'manoj@gmail.com', 36, 2343428.0),
 ('rani', 'rani@gmail.com', 37, 2343429.0),
 ('suresh', 'suresh@gmail.com', 38, 2343430.0),
 ('kiran', 'kiran@gmail.com', 39, 2343431.0),
 ('rekha', 'rekha@gmail.com', 40, 2343432.0),
 ('naveen', 'naveen@gmail.com', 41, 2343433.0),
 ('jyoti', 'jyoti@gmail.com', 42, 2343434.0),
 ('alok', 'alok@gmail.com', 43, 2343435.0),
 ('seema', 'seema@gmail.com', 44, 2343436.0),
 ('deepika', 'deepika@gmail.com', 6, 762367.0)]

In [54]:
db.commit()

In [55]:
db.close()

In [56]:
db=sqlite3.connect('test.db')

In [57]:
c=db.cursor()

In [58]:
c.execute('drop table data_science')

In [59]:
c.execute('select * from data_science')

OperationalError: no such table: data_science

In [60]:
db.commit()

In [61]:
db.close()

In [80]:
db=sqlite3.connect('person.db')

In [83]:
c=db.cursor()

In [82]:
data=c.execute('select * from person_table limit 2')

In [78]:
for i in data:
    print(i)

('shivam', 'shivam@gmail.com', 21, 2343412.0)
('raj', 'raj@gmail.com', 22, 2343413.0)

In [87]:
db.commit()

In [88]:
db.close()

In [91]:
db=sqlite3.connect("join.db")

In [92]:
c=db.cursor()

In [93]:
c.execute('create table student(student_id int,student_name text,student_mailid text,marks int)')

In [96]:
c.execute('create table address(student_id int,pincode int,location text,phone_number int)')

In [97]:
c.execute('insert into student values(3254, "Shivam", "shivam@gmail.com", 324)')
c.execute('insert into student values(3255, "Anjali", "anjali123@gmail.com", 451)')
c.execute('insert into student values(3256, "Rohit", "rohit_kumar@gmail.com", 382)')
c.execute('insert into student values(3257, "Neha", "neha.mehta@gmail.com", 498)')
c.execute('insert into student values(3258, "Amit", "amit22@gmail.com", 409)')
c.execute('insert into student values(3259, "Kiran", "kiran.rao@gmail.com", 367)')
c.execute('insert into student values(3260, "Meena", "meena.sharma@gmail.com", 440)')
c.execute('insert into student values(3261, "Suresh", "suresh_das@gmail.com", 375)')
c.execute('insert into student values(3262, "Rani", "rani.singh@gmail.com", 412)')
c.execute('insert into student values(3263, "Vikas", "vikas.mishra@gmail.com", 459)')

In [99]:
c.execute('insert into address values(3245,353514,"rohtak",999999999)')
c.execute('insert into address values(3254, 110001, "Delhi", 9876543210)')
c.execute('insert into address values(3255, 400001, "Mumbai", 9823456789)')
c.execute('insert into address values(3256, 560001, "Bangalore", 9845012345)')
c.execute('insert into address values(3257, 700001, "Kolkata", 9830023456)')
c.execute('insert into address values(3258, 600001, "Chennai", 9789456123)')
c.execute('insert into address values(3259, 302001, "Jaipur", 9928045678)')
c.execute('insert into address values(3260, 380001, "Ahmedabad", 9723456780)')
c.execute('insert into address values(3261, 500001, "Hyderabad", 9908765432)')
c.execute('insert into address values(3262, 751001, "Bhubaneswar", 9098765432)')
c.execute('insert into address values(3263, 160017, "Chandigarh", 9878001234)')
c.execute('insert into address values(3264, 208001, "Kanpur", 9839012345)')
c.execute('insert into address values(3274, 683101, "Kochi", 9801234567)')
c.execute('insert into address values(3275, 695001, "Trivandrum", 9945678901)')
c.execute('insert into address values(3276, 570001, "Mysore", 9487654321)')

In [101]:
for i in c.execute('select * from student'):
    print(i)

(3254, 'Shivam', 'shivam@gmail.com', 324)
(3255, 'Anjali', 'anjali123@gmail.com', 451)
(3256, 'Rohit', 'rohit_kumar@gmail.com', 382)
(3257, 'Neha', 'neha.mehta@gmail.com', 498)
(3258, 'Amit', 'amit22@gmail.com', 409)
(3259, 'Kiran', 'kiran.rao@gmail.com', 367)
(3260, 'Meena', 'meena.sharma@gmail.com', 440)
(3261, 'Suresh', 'suresh_das@gmail.com', 375)
(3262, 'Rani', 'rani.singh@gmail.com', 412)
(3263, 'Vikas', 'vikas.mishra@gmail.com', 459)

In [102]:
for i in c.execute('select * from address'):
    print(i)

(3245, 353514, 'rohtak', 999999999)
(3245, 353514, 'rohtak', 999999999)
(3254, 110001, 'Delhi', 9876543210)
(3255, 400001, 'Mumbai', 9823456789)
(3256, 560001, 'Bangalore', 9845012345)
(3257, 700001, 'Kolkata', 9830023456)
(3258, 600001, 'Chennai', 9789456123)
(3259, 302001, 'Jaipur', 9928045678)
(3260, 380001, 'Ahmedabad', 9723456780)
(3261, 500001, 'Hyderabad', 9908765432)
(3262, 751001, 'Bhubaneswar', 9098765432)
(3263, 160017, 'Chandigarh', 9878001234)
(3264, 208001, 'Kanpur', 9839012345)
(3274, 683101, 'Kochi', 9801234567)
(3275, 695001, 'Trivandrum', 9945678901)
(3276, 570001, 'Mysore', 9487654321)

In [105]:
data=c.execute('select * from student s left join address a on s.student_id = a.student_id ')

In [106]:
for i in data:
    print(i)

(3254, 'Shivam', 'shivam@gmail.com', 324, 3254, 110001, 'Delhi', 9876543210)
(3255, 'Anjali', 'anjali123@gmail.com', 451, 3255, 400001, 'Mumbai', 9823456789)
(3256, 'Rohit', 'rohit_kumar@gmail.com', 382, 3256, 560001, 'Bangalore', 9845012345)
(3257, 'Neha', 'neha.mehta@gmail.com', 498, 3257, 700001, 'Kolkata', 9830023456)
(3258, 'Amit', 'amit22@gmail.com', 409, 3258, 600001, 'Chennai', 9789456123)
(3259, 'Kiran', 'kiran.rao@gmail.com', 367, 3259, 302001, 'Jaipur', 9928045678)
(3260, 'Meena', 'meena.sharma@gmail.com', 440, 3260, 380001, 'Ahmedabad', 9723456780)
(3261, 'Suresh', 'suresh_das@gmail.com', 375, 3261, 500001, 'Hyderabad', 9908765432)
(3262, 'Rani', 'rani.singh@gmail.com', 412, 3262, 751001, 'Bhubaneswar', 9098765432)
(3263, 'Vikas', 'vikas.mishra@gmail.com', 459, 3263, 160017, 'Chandigarh', 9878001234)

In [107]:
c.execute('delete from student where student_id>3270')

In [109]:
c.execute('select * from student')

In [110]:
c.fetchall()

[(3254, 'Shivam', 'shivam@gmail.com', 324),
 (3255, 'Anjali', 'anjali123@gmail.com', 451),
 (3256, 'Rohit', 'rohit_kumar@gmail.com', 382),
 (3257, 'Neha', 'neha.mehta@gmail.com', 498),
 (3258, 'Amit', 'amit22@gmail.com', 409),
 (3259, 'Kiran', 'kiran.rao@gmail.com', 367),
 (3260, 'Meena', 'meena.sharma@gmail.com', 440),
 (3261, 'Suresh', 'suresh_das@gmail.com', 375),
 (3262, 'Rani', 'rani.singh@gmail.com', 412),
 (3263, 'Vikas', 'vikas.mishra@gmail.com', 459)]

In [111]:
c.execute('UPDATE student set student_id=1000 where student_id=3254')

In [112]:
for i in c.execute('select * from student'):
    print(i)

(1000, 'Shivam', 'shivam@gmail.com', 324)
(3255, 'Anjali', 'anjali123@gmail.com', 451)
(3256, 'Rohit', 'rohit_kumar@gmail.com', 382)
(3257, 'Neha', 'neha.mehta@gmail.com', 498)
(3258, 'Amit', 'amit22@gmail.com', 409)
(3259, 'Kiran', 'kiran.rao@gmail.com', 367)
(3260, 'Meena', 'meena.sharma@gmail.com', 440)
(3261, 'Suresh', 'suresh_das@gmail.com', 375)
(3262, 'Rani', 'rani.singh@gmail.com', 412)
(3263, 'Vikas', 'vikas.mishra@gmail.com', 459)

In [115]:
db.close()